<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spending Splitter 2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EF8F86D1D76705600324861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF8F8811D76705600324861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF8F88C1D76705600324861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
